{% extends 'base.html' %}
{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('maintenance.static', filename='css/maintenance.css') }}"/>
{% endblock %}
{% block tohen %}
{% if not approved%}
<h3>{{passwordMessage}}</h3>
<div class="loginContainer">
  <section id="content">
    <form action="/login", method="post">
      <h1>Login</h1>
      <div>
        <input type="text" placeholder="Username" name="username" />
      </div>
      <div>
        <input type="password" placeholder="Password" name="password" />
      </div>
      <div>
        <input type="submit" value="Log in" />
        <a href="https://www.youtube.com/watch?v=u92RWKB3CR4">Lost your password?</a>
        <a href="https://www.youtube.com/watch?v=f6rYxoA4UWw">Register</a>
      </div>
    </form><!-- form -->

  </section><!-- content -->
</div><!-- container -->
  </div>

{% endif %}

{% if approved and not lookingSteal%}
    <div class="logout">
        <h3>Hello {{ message }}, </h3>
          <span>
    <form action="/steals" method="get">
         <input class="nearbyBtn"  id="range" type="submit" value="Scooters Out Of Range">
     </form>
            </span>
        <form action="/logout_tech" method="get">
            <input  type="submit" class="logoutbutton" value="log-out">
        </form>

    </div>

{% if error %}
    <h4 class="error">Please insert valid values</h4>
{% endif %}
<table class = scooters>

    <tr class = tableHeadears>
        <th>Scooter ID</th>
        <th>Battery level</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Firm</th>
        <th>Includes helmet</th>
        <th>City</th>
    </tr>

    <tr>
        <form action="/insert_scooter" method="post">
            <th>
                <input type="number" required placeholder="New" name="scooter_id">
            </th>
            <th>
                <input type="number" required step="0.1" name="battery">
            </th>
            <th>
                <input type="number" required step="0.0001" name="longitude" >
            </th>
            <th>
                <input type="number" required step="0.0001" name="latitude" >
            </th>
            <th>
                 <select name="firm_name" class="helmet_firm_insert">
                    <option value="bird">bird</option>
                    <option value="lime">lime</option>
                    <option value="wind">wind</option>
                 </select>
            </th>
            <th>
                 <select name="helmet" class="helmet_firm_insert">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                 </select>
            </th>
            <th>
                <select name="city" class="helmet_firm_insert">
                    <option value="Tel Aviv">Tel Aviv</option>
                    <option value="Beer Sheva">Beer Sheva</option>
                    <option value="Jerusalem">Jerusalem</option>
                    <option value="Los Angeles">LA</option>
                </select>
            </th>
            <th>
                <input   class="nearbyBtn" id="insert"  type="submit" value="Insert">
            </th>
        </form>
    </tr>

{% for scooter in scooters%}
    <tr class="tableCells">
        <tr class="tableCells">
            <th>{{ scooter.scooter_id }}</th>
            <th>{{ scooter.battery_level }}</th>
            <th>{{ scooter.longitude }}</th>
            <th>{{ scooter.latitude }}</th>
            <th>{{ scooter.firm_name }}</th>
            <th>{{ scooter.helmet }}</th>
            <th>{{ scooter.city }}</th>
            <th>
                <form action="/delete_scooter" method="post">
                    <input type="hidden" name="scooter_id" value="{{ scooter.scooter_id }}">
                    <input class="nearbyBtn" id="delete" type="submit" value="Delete">
                </form>
            </th>
        </tr>

        <tr>
            <form action="/update_scooter" method="post">
            <th><input type="hidden" name="scooter_id" value="{{ scooter.scooter_id }}"></th>
            <th><input type="hidden" name="battery" value="{{ scooter.battery_level }}" ></th>
            <th><input type="hidden" name="longitude" value="{{ scooter.longitude }}" ></th>
            <th><input type="hidden" name="latitude" value="{{ scooter.latitude }}" ></th>
            <th>
                 <select  name="firm_name" class="helmet_firm_update">
                    <option value="bird">bird</option>
                    <option value="lime">lime</option>
                    <option value="wind">wind</option>
                 </select>
            </th>
            <th>
                 <select  name="helmet" class="helmet_firm_update">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                 </select>
            </th>
            <th><input type="hidden" name="city" value="{{ scooter.city }}"></th>
            <th>
                <input class="nearbyBtn" id="update" type="submit" value="Update">
            </th>
            </form>
        </tr>
    </tr>


{% endfor %}
</table>
{% endif %}

    {% if lookingSteal and approved%}
     <form action="/login" method="post">
        <input type="hidden" name="username" value="{{ tech.username }}">
        <input type="hidden" name="password" value="{{ tech.password }}">
        <input class="nearbyBtn" type="submit" value="Back">
     </form>
<table class = scooters>
    <tr class = tableHeadears>
        <th>Scooter ID</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Firm</th>
        <th>City</th>
        <th>Distance</th>
    </tr>

{% for scooter in stolenScooters %}
    <tr class="tableCells">
        <tr class="tableCells">
            <th>{{ scooter[0] }}</th>
            <th>{{ scooter[1] }}</th>
            <th>{{ scooter[2] }}</th>
            <th>{{ scooter[3] }}</th>
            <th>{{ scooter[4] }}</th>
            <th class="error">{{ scooter[5] }} KM</th>
        </tr>
    </tr>


{% endfor %}
</table>
    {% endif %}


{% endblock %}