{% extends 'base.html' %}

{% set page_head_title = 'About' %}

{% block tohen %}
<span class="about_us">
            <h1>About Us</h1>
            <h2>WIMS - Where Is My Scooter</h2>
            <h3>Who We are</h3>
            <p>Wims is a world-wide shared electric vehicle company platform.
               We are on a mission to build a future where transportation is shared, affordable and carbon-free.</p>
            <h3>What We Do</h3>
            <p>We provide reliable platform for short-term rentals of electric
               scooters in the easiest and fastest way And provides a platform for
                comparisons between the various companies existing in the market. </p>
        </span>
{% endblock %}
