<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../static/js.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='..//static/css.css'>
    <title>Document</title>
</head>
<body class="body2">
    <header>
        <div class="container">
          <h1 class="logo">Wims</h1>

          <nav class = "nav_bar">
            <ul>
              <li><a href="main">Home</a></li>
              <li><a href="find_my">Find My Scooter</a></li>
              <li><a href="parking">Parking</a></li>
              <li><a href="about">About Us</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </nav>
        </div>
        </header>
{% block tohen %}
    {% endblock %}
</body>
</html>