{% extends 'base.html' %}

{% block tohen %}
 <div class="buttons_grid">
      <div  class="buttonsContainer">
        <span>
          <button  class="button-56" id="upper" role="button"><a href="find_my">Find My Scooter</a></button>
        </span>
        <span>
          <button class="button-56" role="button"><a href="parking">Park My Scooter</a></button>
        </span>
      </div>
    </div>
    <div class = "vision_grid"></div>
      <span class="our_vision">
        <h1>Our Vision</h1>
        <h2>“A journey of a thousand miles begins with a single scooter.”</h2>
        <p> Wims, because we Make a better place for living and heavier wallets</p>
      </span>
    </div>
  </div>
    <h1>hello</h1>
{% endblock %}
