{% extends 'base.html' %}

{% block tohen %}
<div class="mainbtn">
            <div  class="buttonsContainer">
              <span id="findScooter_parking">
                  <button id="findScooter_parking" class="button-56" role="button">Find A Scotter</button>
              </span>
              <span  id="button2_parking">
                   <button class="button-56" role="button">Park My Scooter</button>
              </span>
          </div>
          <div class="tohen">
            <div>
              <label for="location">City</label>
              <select name="cities"  id="city">
                    <option value="Tel Aviv">Tel Aviv</option>
                    <option value="Beer Sheva">Beer Sheva</option>
                    <option value="Jerusalem">Jerusalem</option>
                    <option value="Los Angeles">LA</option>
              </select>
            </div>
            <button class="nearbyBtn" id="findParking" onclick="showPicture()">Find Parking</button></br>
          </div>
          </div>
          <div id="parking_map">
          </div>
      </div>
{% endblock %}
{% block page_js %}
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
{% endblock %}
