{% extends 'base.html' %}

{% block tohen %}
<div class="mainBody">
        <div  class="buttonsContainer">
          <span id="button1">
            <button  class="button-56" role="button">Find A Scotter</button>
          </span>
          <span  id="button2">
            <button class="button-56" role="button">Park My Scooter</button>
          </span>
        </div>
        <div class="tohen">
          <div>
            <label for="city">city: </label>
             <select class = "combo" name="cities"  id="brands">
                    <option value="Tel Aviv">Tel Aviv</option>
                    <option value="Beer Sheva">Beer Sheva</option>
                    <option value="Jerusalem">Jerusalem</option>
                    <option value="Los Angeles">LA</option>
              </select>
          </div>
            <button class="nearbyBtn" onclick="showPicture()">Nearby Scooters</button></br>
          </div>
        </div>
        <div class="mapetc" >
          <div id="map"></div>
          <div id="afterNearby">
            <span class="compare">
              <label for="prices">Compare Prices: </label><br>
            </span>
            <span class="compare">
              <input id="distInput" type="number" min="0" max="10"  placeholder=" Estimated Distance (km)" name="min" value=""><br>
              <button class="nearbyBtn" id="calculate" onclick="calculate()">calculate</button>
            </span>
          </div>
            <div id="aftercompare">
              <table>
              </table>
              <div><button class="nearbyBtn" id="aftercompareBtn" onclick="location.href='find_my';">Re-Select</button>
              </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
{% block page_js %}
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
{% endblock %}